* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 2vmin;
  height: 100vh;
  background-color: black;
  font-family: sans-serif;
}

#frame {
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
}

/*  */

#player {
  width: 32px;
  height: 16px;
  background-color: dodgerblue;
  position: absolute;
  grid-row: 2 / 3;
  align-self: end;
  display: grid;
  place-items: center;
  transition: all 0.1s;
  z-index: 1;
}

#player::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 100%;
  background-color: dodgerblue;
}

.bullet {
  background-color: orange;
  width: 8px;
  height: 8px;
  transition: transform 1s linear;
  position: absolute;
  bottom: 0;
  margin-left: 12px;
  border-radius: 100%;
}

.obstacle {
  position: absolute;
  top: -64px;
  width: 32px;
  height: 32px;
  background-color:  snow;
  transition: all 1s;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 6px solid transparent;
  color: #222;
}

.obstacle.damaged {
  border-color: crimson;
}

.obstacle.destroyed {
  display: none !important;
}

/* Bullet modifiers */

.bullet.mHuge {
  width: 64px;
  height: 258px;
  margin: 0;
}

.bullet.mFluctuate {
  animation-duration: 0.4s;
  animation-name: mFluctuate;
  animation-iteration-count: infinite;
}

@keyframes mFluctuate {
  0% {
    width: 1px;
    height: 1px;
  }
  50% {
    width: 64px;
    height: 64px;
    margin: -12px;
  }
}

.bullet.mSlow {
  transition-duration: 6s;
}

.bullet.mWave {
  animation: mWave infinite .1s;
}

@keyframes mWave {
  from {
    height: 6px;
  }
  to {
    width: 64px;
    height: 0px;
    margin-left: -16px;
    border-radius: 6px;
  }
  
}